<h3 class="ui header">{{t 'forms.new-platform-flexberry-service-bus-statistics-setting-edit-form.caption'}}</h3>

{{#if errorMessages}}
  {{#each errorMessages as |currentError|}}
    {{ui-message
      type='error'
      closeable=true
      visible=true
      title='Error occurred'
      message=currentError
    }}
  {{/each}}
{{/if}}
<form class="ui {{state}} form flexberry-vertical-form" role="form">

  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>

  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        <button type="submit" class="ui button save-close-button" {{action "saveAndClose"}}>
          {{t "forms.edit-form.saveAndClose-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>

  <div class="field">
    <label>{{t 'forms.new-platform-flexberry-service-bus-statistics-setting-edit-form.subscription-caption'}}</label>
    {{flexberry-lookup
      choose='showLookupDialog'
      remove='removeLookupValue'
      value=model.subscription
      displayAttributeName='description'
      relationName='subscription'
      projection='LookupView'
      title=(t 'forms.new-platform-flexberry-service-bus-statistics-setting-edit-form.subscription-caption')
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.subscription pointing="pointing"}}
  </div>

  <div class="field">
    <label>{{t 'forms.new-platform-flexberry-service-bus-statistics-setting-edit-form.statisticsCompressionSetting-caption'}}</label>
    {{flexberry-groupedit
      componentName="statisticsCompressionSettingGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.statisticsCompressionSetting
      content=model.statisticsCompressionSetting
      readonly=readonly
      orderable=false
      class=(if model.errors.statisticsCompressionSetting 'error' '')
    }}
  </div>

  <div class="field">
    <label>{{t 'forms.new-platform-flexberry-service-bus-statistics-setting-edit-form.statisticsRecord-caption'}}</label>
    {{flexberry-groupedit
      componentName="statisticsRecordGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.statisticsRecord
      content=model.statisticsRecord
      readonly=true
      createNewButton=false
      deleteButton=false
      showCheckBoxInRow=false
      orderable=false
      class=(if model.errors.statisticsRecord 'error' '')
    }}
  </div>

</form>
